p {
    color: red;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 900;
    font-style: italic;
    text-align: justify;
    text-decoration: underline;
    line-height: 2.5;
    letter-spacing: 8px;
    text-transform: capitalize;
}

h1 {
    text-align: center;
}

span {
    color: blue;
    text-decoration: line-through;
}

a {
    color: green;
    text-decoration: none;
}