@font-face {
    font-family: montserrat;
    src: url(fonts/montserrat/Montserrat-Regular.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/montserrat/Montserrat-Bold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: doppio;
    src: url(fonts/DoppioOne-Regular.ttf);
    font-weight: 200;
}

@font-face {
    font-family: caacupe;
    src: url(fonts/CaacupeOne-Regular.ttf);
    font-weight: 200;
}