@font-face {
    font-family: montserrat;
    src: url(fonts/montserrat/Montserrat-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: montserrat;
    src: url(fonts/montserrat/Montserrat-BoldItalic.ttf);
    font-size: 500;
    font-style: italic;
}

@font-face {
    font-family: dopio;
    src: url(fonts/DoppioOne-Regular.ttf);
    font-weight: 100;
}

@font-face {
    font-family: cacupe;
    src: url(fonts/CaacupeOne-Regular.ttf);
    font-weight: 100;
}